*.pyc
plotOutput/**
output.pdf
legacy/Simulator/PySOL/outputs/*
legacy/Simulator/PySOL/save_sim/*
*.exe
legacy/Simulator/plotOutput/**
legacy/HardwareInterface/vn100/vn100_library/build/
legacy/HardwareInterface/vn100/vn100_library/dist/
legacy/HardwareInterface/vn100/vn100_library/vnpy.egg-info/
*/.ipynb_checkpoints/*
.DS_Store
.ipynb_checkpoints/*
__pycache__
.venv/
legacy/Maya_project/Irishsat_Simulator/images/
legacy/Maya_project/Irishsat_Simulator/cache/
legacy/Maya_project/Irishsat_Simulator/autosave/
legacy/Controls/Pointing/
.mayaSwatches/
*.swatches
*.log
*.tmp
*.bak
*.tx
*.melException
*.crash
.vscode/
cloversat/sim/pysol/outputs/*
cloversat/sim/pysol/save_sim/*
cloversat/devices/hardware/vn100_library/build/
cloversat/devices/hardware/vn100_library/dist/
cloversat/devices/hardware/vn100_library/vnpy.egg-info/
*.egg-info/
.pytest_cache/
